
<div class="popups" data-area="popups">
	<!-- Toolbar popups -->
	<div class="popup-insert-formula-options">
		<div class="menu-entries" data-click="insert-formula">
			<div class="menu-item disabled" data-arg="new-formula">New Formula</div>
			<div class="menu-divider"></div>
			<div class="menu-item disabled" data-arg="sum">Sum</div>
			<div class="menu-item disabled" data-arg="avergage">Avergage</div>
			<div class="menu-item disabled" data-arg="minimum">Minimum</div>
			<div class="menu-item disabled" data-arg="maximum">Maximum</div>
			<div class="menu-item disabled" data-arg="count">Count</div>
		</div>
	</div>

	<div class="popup-insert-shape-options">
		<div class="options-reel" data-click="insert-shape">
			<div class="grid-column">
				<span class="shape-line" data-arg="shape-line"></span>
				<span class="shape-rectangle" data-arg="shape-rectangle"></span>
				<span class="shape-disc" data-arg="shape-disc"></span>
			</div>
			<div class="grid-column">
				<span class="shape-bezier" data-arg="shape-bezier"></span>
				<span class="shape-rounded" data-arg="shape-rounded"></span>
				<span class="shape-pentagon" data-arg="shape-pentagon"></span>
			</div>
			<div class="grid-column">
				<span class="shape-triangle" data-arg="shape-triangle"></span>
				<span class="shape-star" data-arg="shape-star"></span>
				<span class="shape-hexagon" data-arg="shape-hexagon"></span>
			</div>
		</div>
	</div>

	<div class="popup-insert-image-options">
		<div class="menu-entries" data-click="import-file">
			<div class="menu-item" data-arg="image"><i class="icon-image"></i> Import Image</div>
			<div class="menu-item" data-arg="shape"><i class="icon-shape"></i> Import Shape</div>
			<div class="menu-divider"></div>
			<div class="menu-item" data-arg="csv"><i class="icon-csv"></i> Import CSV file</div>
		</div>
	</div>

	<div class="popup-insert-grid-options">
		<div class="options-reel" data-click="insert-table">
			<div class="grid-column">
				<span class="icon-table-style-1" data-arg="gray-table-1"></span>
				<span class="icon-table-style-3" data-arg="green-table-1"></span>
				<span class="icon-table-style-5" data-arg="orange-table-1"></span>
			</div>
			<div class="grid-column">
				<span class="icon-table-style-2" data-arg="blue-table-1"></span>
				<span class="icon-table-style-4" data-arg="blue-table-2"></span>
				<span class="icon-table-style-6" data-arg="white-table-1"></span>
			</div>
		</div>
	</div>

	<div class="popup-insert-chart-options" data-step="1">
		<div class="options-reel" data-click="insert-chart">
			<div class="reel">
				<div class="grid-column">
					<span class="icon-chart-columns-1" data-arg="chart-1"></span>
					<span class="icon-chart-columns-3" data-arg="chart-3"></span>
					<span class="icon-chart-columns-5" data-arg="chart-5"></span>
				</div>
				<div class="grid-column">
					<span class="icon-chart-columns-2" data-arg="chart-2"></span>
					<span class="icon-chart-columns-4" data-arg="chart-4"></span>
					<span class="icon-chart-columns-6" data-arg="chart-6"></span>
				</div>
				<div class="grid-column">
					<span class="icon-bars-style-1" data-arg="bars-1"></span>
					<span class="icon-bars-style-3" data-arg="bars-3"></span>
					<span class="icon-bars-style-5" data-arg="bars-5"></span>
				</div>
				<div class="grid-column">
					<span class="icon-bars-style-2" data-arg="bars-2"></span>
					<span class="icon-bars-style-4" data-arg="bars-4"></span>
					<span class="icon-bars-style-6" data-arg="bars-6"></span>
				</div>
				<div class="grid-column">
					<span class="icon-pie-style-1" data-arg="pie-1"></span>
					<span class="icon-pie-style-3" data-arg="pie-3"></span>
					<span class="icon-pie-style-5" data-arg="pie-5"></span>
				</div>
				<div class="grid-column">
					<span class="icon-pie-style-2" data-arg="pie-2"></span>
					<span class="icon-pie-style-4" data-arg="pie-4"></span>
					<span class="icon-pie-style-6" data-arg="pie-6"></span>
				</div>
			</div>
		</div>
		<ul class="grid-nav" data-click="do-popup-navigation">
			<li class="active"></li>
			<li></li>
			<li></li>
		</ul>
	</div>

	<!-- Sidebar popups -->
	<div class="popup-palette" data-step="1">
		<div class="palette-reel">
			<div class="reel">
				<!-- palette 1 -->
				<div class="palette-wrapper" data-click="select-color">
					<span style="background: #5cc2fc;"></span>
					<span style="background: #79fce9;"></span>
					<span style="background: #8cf85a;"></span>
					<span style="background: #feef63;"></span>
					<span style="background: #fd978f;"></span>
					<span style="background: #fd97ca;"></span>
					
					<span style="background: #1ca4fc;"></span>
					<span style="background: #2fe6cf;"></span>
					<span style="background: #65d643;"></span>
					<span style="background: #fed846;"></span>
					<span style="background: #fc6554;"></span>
					<span style="background: #fc48a1;"></span>
					
					<span style="background: #1177b8;"></span>
					<span style="background: #1aaa8e;"></span>
					<span style="background: #29af1d;"></span>
					<span style="background: #fcad2a;"></span>
					<span style="background: #eb261f;"></span>
					<span style="background: #d12177;"></span>
					
					<span style="background: #084e7e;"></span>
					<span style="background: #0c6c65;"></span>
					<span style="background: #0d700f;"></span>
					<span style="background: #f07220;"></span>
					<span style="background: #b31a10;"></span>
					<span style="background: #951453;"></span>
					
					<span style="background: #ffffff;"></span>
					<span style="background: #d5d5d5;"></span>
					<span style="background: #929292;"></span>
					<span style="background: #5e5e5e;"></span>
					<span style="background: #000000;"></span>
				</div>
				<!-- palette 2 -->
				<div class="palette-wrapper" data-click="select-color">
					<span style="background: #416895;"></span>
					<span style="background: #984140;"></span>
					<span style="background: #7d954c;"></span>
					<span style="background: #665180;"></span>
					<span style="background: #408a9d;"></span>
					<span style="background: #c4783f;"></span>
					
					<span style="background: #5182bb;"></span>
					<span style="background: #be5150;"></span>
					<span style="background: #9cba5f;"></span>
					<span style="background: #8066a0;"></span>
					<span style="background: #50acc4;"></span>
					<span style="background: #f5964f;"></span>
					
					<span style="background: #7ca1cc;"></span>
					<span style="background: #ce7c7b;"></span>
					<span style="background: #b4cb86;"></span>
					<span style="background: #9f8cb8;"></span>
					<span style="background: #7bc1d3;"></span>
					<span style="background: #f7b079;"></span>
					
					<span style="background: #a8c0dd;"></span>
					<span style="background: #dea8a7;"></span>
					<span style="background: #cddcae;"></span>
					<span style="background: #bfb2d0;"></span>
					<span style="background: #a7d6e2;"></span>
					<span style="background: #facaa5;"></span>
					
					<span style="background: #000000;"></span>
					<span style="background: #535353;"></span>
					<span style="background: #a7a7a7;"></span>
					<span style="background: #dddddd;"></span>
					<span style="background: #ffffff;"></span>
				</div>
				<!-- palette 3 -->
				<div class="palette-wrapper" data-click="select-color">
					<span style="background: #171717;"></span>
					<span style="background: #1f1f1f;"></span>
					<span style="background: #272727;"></span>
					<span style="background: #2f2f2f;"></span>
					<span style="background: #373737;"></span>
					<span style="background: #3f3f3f;"></span>
					
					<span style="background: #474747;"></span>
					<span style="background: #4f4f4f;"></span>
					<span style="background: #575757;"></span>
					<span style="background: #5f5f5f;"></span>
					<span style="background: #676767;"></span>
					<span style="background: #6f6f6f;"></span>
					
					<span style="background: #777777;"></span>
					<span style="background: #7f7f7f;"></span>
					<span style="background: #878787;"></span>
					<span style="background: #8f8f8f;"></span>
					<span style="background: #979797;"></span>
					<span style="background: #9f9f9f;"></span>
					
					<span style="background: #a7a7a7;"></span>
					<span style="background: #afafaf;"></span>
					<span style="background: #b7b7b7;"></span>
					<span style="background: #bfbfbf;"></span>
					<span style="background: #c7c7c7;"></span>
					<span style="background: #cfcfcf;"></span>
					
					<span style="background: #d7d7d7;"></span>
					<span style="background: #dfdfdf;"></span>
					<span style="background: #e7e7e7;"></span>
					<span style="background: #efefef;"></span>
					<span style="background: #f7f7f7;"></span>
					<span style="background: #ffffff;"></span>
				</div>
				<!-- color ring palette -->
				<div class="popup-colour-ring">
					<div class="ring-wrapper">
						<div class="color-ring" data-el="ring">
							<span class="ring-cursor"></span>
						</div>
						<div class="color-box" data-el="box">
							<span class="box-cursor"></span>
						</div>
						<div class="color-alpha" data-el="range">
							<span class="alpha-cursor"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ul class="grid-nav" data-click="do-popup-navigation">
			<li class="active"></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>
