<div class="sidebar-file" data-section="file">
	<div class="sidebar-head">
		<span>Slide</span>
	</div>
	
	<!-- Slide body -->
	<div class="sidebar-body active">

		<div class="group-row push-down">
			<legend>Slide Name</legend>
			<div>
				<input type="text" placeholder="Enter name" data-change="set-file-name"/>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<legend>Background</legend>
				<div>
					<div class="color-preset_" data-click="popup-color-ring" data-change="set-file-bgcolor" style="--preset-color:#ffffff;"></div>
				</div>
			</div>
		</div>

		<div class="group-row">
			<div class="full-row">
				<button data-click="duplicate-file">Duplicate File</button>
			</div>
			<div class="full-row">
				<button data-click="delete-file">Delete File</button>
			</div>
		</div>

	</div>
</div>