<div class="sidebar-shape" data-section="shape">
	<div class="sidebar-head" data-click="select-tab">
		<span class="active">Style</span>
		<span>Arrange</span>
	</div>

	<!-- Style body -->
	<div class="sidebar-body active">
		<div class="styles shape-styles" data-click="set-shape-style">
			<span class="icon-shape-style-1" data-arg="#222222"></span>
			<span class="icon-shape-style-2" data-arg="#1ba3fc"></span>
			<span class="icon-shape-style-3" data-arg="#65d744"></span>
			<span class="icon-shape-style-4" data-arg="#ea261f"></span>
			<span class="icon-shape-style-5" data-arg="#fcad2a"></span>
			<span class="icon-shape-style-6" data-arg="#fc47a1"></span>
		</div>

		<div class="group-row">
			<legend>Shape Options</legend>
			<div>
				<span class="form-checkbox_"><input type="checkbox" id="shape-title" data-click="toggle-shape-title"/><i></i></span>
				<label for="shape-title">Title</label>
			</div>
			<div>
				<span class="form-checkbox_"><input type="checkbox" id="shape-caption" data-click="toggle-shape-caption"/><i></i></span>
				<label for="shape-caption">Caption</label>
			</div>
		</div>

		<div class="group-row shape-fill-options">
			<legend data-click="toggle-group-body">Fill</legend>
			<div class="group-body">
				<div data-click="select-fill-type">
					<div class="option-buttons_ has-text">
						<span data-arg="solid">Solid</span>
						<span data-arg="linearGradient">Linear</span>
						<span data-arg="radialGradient">Radial</span>
					</div>
				</div>
				<div class="flex-row">
					<legend class="bold">Color</legend>
					<div>
						<div class="color-preset_" data-click="popup-color-palette-1" data-change="set-shape-fill-color" style="--preset-color: #000000;"></div>
					</div>
				</div>
				<div class="gradient-options">
					<div class="gradient-colors">
						<!-- <span class="point"></span> -->
					</div>

					<div class="flex-row shape-gradient-angle">
						<legend class="bold">Angle</legend>
						<div data-suffix="°">
							<div class="angle-ring"></div>
							<input type="number" min="0" max="360" step="1" value="0" data-change="set-shape-gradient-angle"/>
							<div>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>

					<div>
						<span class="form-checkbox_"><input type="checkbox" id="shape-gradient-reverse" data-click="shape-reverse-gradient"/><i></i></span>
						<label for="shape-gradient-reverse">Reverse Gradient Direction</label>
					</div>
				</div>
			</div>
		</div>

		<div class="group-row shape-border-options">
			<legend data-click="toggle-group-body">Border</legend>
			<div class="group-body">
				<div class="flex-row">
					<div class="w37">
						<selectbox class="shape-outline" data-menu="shape-outline">
							<option class="prefix-icon" selected="1" value="solid"/>
						</selectbox>
					</div>
					<div class="color-preset_" data-click="popup-color-palette-1" data-change="set-shape-outline-color" style="--preset-color: #000000;"></div>
					<div class="w23">
						<input type="number" value="1" min="0" max="10" id="shape-outline" data-change="set-shape-outline-width"/>
						<div>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="group-row shape-shadow-options">
			<legend data-click="toggle-group-body">Shadow</legend>
			<div class="group-body">
				<div class="flex-row shape-shadow-blur">
					<div class="w63">
						<span class="range-caption">Blur</span>
						<input type="range" value="0" min="0" max="20" data-change="set-shape-shadow">
					</div>
					<div class="has-caption" data-suffix="px">
						<input type="number" value="0" min="0" max="20" data-change="set-shape-shadow"/>
						<div>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
				<div class="flex-row shape-shadow-offset">
					<div class="w63">
						<span class="range-caption">Offset</span>
						<input type="range" value="0" min="0" max="40" data-change="set-shape-shadow">
					</div>
					<div class="has-caption" data-suffix="px">
						<input type="number" value="0" min="0" max="40" data-change="set-shape-shadow"/>
						<div>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
				<div class="flex-row shape-shadow-opacity">
					<div class="w63">
						<span class="range-caption">Opacity</span>
						<input type="range" value="0" min="0" max="100" data-change="set-shape-shadow">
					</div>
					<div class="has-caption" data-suffix="%">
						<input type="number" value="0" min="0" max="100" data-change="set-shape-shadow"/>
						<div>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>

				<div class="flex-row shape-shadow-angle-color">
					<legend class="bold">Angle</legend>
					<div data-suffix="°">
						<div class="angle-ring"></div>
						<input type="number" name="shape-shadow-angle" min="0" max="360" value="45" data-change="set-shape-shadow"/>
						<div>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="color-preset_" data-click="popup-color-palette-1" data-change="set-shape-shadow" style="--preset-color: #000000;"></div>
				</div>
			</div>
		</div>

		<div class="group-row shape-reflection-options">
			<legend data-click="toggle-group-body">Reflection</legend>
			<div class="group-body">
				<div class="flex-row shape-reflection">
					<div class="w63">
						<input type="range" value="50" min="0" max="100" data-change="set-shape-reflection">
					</div>
					<div data-suffix="%">
						<input type="number" value="50" min="0" max="100" data-change="set-shape-reflection"/>
						<div>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="group-row shape-opacity-options">
			<legend data-click="toggle-group-body">Opacity</legend>
			<div class="group-body">
				<div class="flex-row shape-opacity">
					<div class="w63">
						<input type="range" value="50" min="0" max="100" data-change="set-shape-opacity">
					</div>
					<div data-suffix="%">
						<input type="number" value="50" min="0" max="100" data-change="set-shape-opacity"/>
						<div>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Arrange body -->
	<div class="sidebar-body">
		<div class="group-row">
			<div class="flex-row arrange" data-click="set-shape-arrange">
				<div class="w48">
					<div class="option-buttons_ has-title_">
						<span data-name="z-back" title="Back">
							<span class="icon-arrange-back c13x19"></span>
						</span>
						<span data-name="z-front" title="Front">
							<span class="icon-arrange-front c13x19"></span>
						</span>
					</div>
				</div>

				<div class="w48">
					<div class="option-buttons_ has-title_">
						<span data-name="z-backward" title="Backward">
							<span class="icon-arrange-backward c13x19"></span>
						</span>
						<span data-name="z-forward" title="Forward">
							<span class="icon-arrange-forward c13x19"></span>
						</span>
					</div>
				</div>
			</div>

			<div class="flex-row">
				<div class="w48">
					<selectbox disabled data-menu="shape-header-rows">
						<option selected="1" value="align">Align</option>
					</selectbox>
				</div>

				<div class="w48">
					<selectbox disabled data-menu="shape-header-rows">
						<option selected="1" value="distribute">Distribute</option>
					</selectbox>
				</div>
			</div>
		</div>

		<div class="group-row shape-box-size">
			<div class="flex-row">
				<legend class="bold">Size</legend>
				<div class="indent has-title" title="Width" data-suffix="px">
					<input type="number" min="0" max="1e5" step="1" name="width" data-change="set-shape-box-size"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="has-title" title="Height" data-suffix="px">
					<input type="number" min="0" max="1e5" step="1" name="height" data-change="set-shape-box-size"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="group-row shape-box-position">
			<div class="flex-row">
				<legend class="bold">Position</legend>
				<div class="indent has-title" title="X" data-suffix="px">
					<input type="number" min="0" max="1e5" step="1" name="x" data-change="set-shape-box-position"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="has-title" title="Y" data-suffix="px">
					<input type="number" min="0" max="1e5" step="1" name="y" data-change="set-shape-box-position"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>