
<div class="overview" data-area="overview">
	<div class="tool-add">
		<div class="add-north"></div>
		<div class="add-west"></div>
		<div class="add-south"></div>
		<div class="add-east"></div>
	</div>

	<div class="container" data-click="select-slide">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li class="stack">
				<ul style="--tY: -1;">
					<li></li>
					<li></li>
					<li></li>
					<li class="stack">
						<ul style="--tX: -2;">
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</li>
					<li></li>
				</ul>
			</li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>
