
<div class="overview" data-area="overview">
	<div class="tool-add">
		<div class="add-north" data-click="add-slide"></div>
		<div class="add-west" data-click="add-slide"></div>
		<div class="add-south" data-click="add-slide"></div>
		<div class="add-east" data-click="add-slide"></div>
		<i class="icon-zoom" data-click="zoom-slide"></i>
		<i class="icon-trashcan" data-click="delete-slide"></i>
	</div>

	<div class="container" data-click="select-slide">
		<ul class="slides-h">
			<li></li>
			<li></li>
			<li></li>
			<li class="stack">
				<ul class="slides-v" style1="--tY: -1;">
					<li></li>
					<li></li>
					<li></li>
					<li class="stack">
						<ul class="slides-h" style="--tX: -2;">
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</li>
				</ul>
			</li>
			<li></li>
			<li></li>
		</ul>

		<!-- <ul class="slides-h">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul> -->

		<!-- <ul class="slides-v">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul> -->
	</div>
</div>
