<layout>
	<!-- shown if no file is opened -->
	<div class="blank-view" data-area="blankView">
		<!-- blank view HTML goes here -->
	</div>
	
	<sidebar class="thumbs" data-area="thumbs">
		<div class="container">
			<ul>
				<li></li>
				<li class="active"></li>
				<li></li>
			</ul>
		</div>
	</sidebar>

	<content>
		<div class="body">
			@import "sections/tools-text.htm"
			@import "sections/tools-image.htm"
			@import "sections/tools-shape.htm"

			@import "sections/player-helpers.htm"

			<div class="files-wrapper">
				<!-- slide HTML goes here -->
				<div class="file-template"></div>
				<section class="slide-template">
					<div>
						<h1>MINIMAL</h1>
					</div>
					<div>
						<p>Acme Design is a full service design agency.</p>
					</div>
				</section>
			</div>
		</div>
	</content>

	<sidebar class="format show-text" data-area="format">
		<div class="container">
			@import "sections/sidebar-file.htm"
			@import "sections/sidebar-text.htm"
			@import "sections/sidebar-image.htm"
			@import "sections/sidebar-line.htm"
			@import "sections/sidebar-shape.htm"
		</div>
	</sidebar>
</layout>

@import "sections/popups.htm"
