<layout>
	<!-- shown if no file is opened -->
	<div class="blank-view" data-area="blankView">
		<!-- blank view HTML goes here -->
	</div>
	
	
	<sidebar class="thumbs" data-area="thumbs">
		<div class="container">
			<ul>
				<li></li>
				<li class="active"></li>
				<li></li>
			</ul>
		</div>
	</sidebar>

	<content>
		<div class="body">
			@import "sections/tools-text.htm"
			@import "sections/tools-image.htm"
			@import "sections/tools-shape.htm"
			<div class="active-slide">
				<!-- editor HTML goes here -->
			</div>
		</div>
	</content>

	<sidebar class="format" data-area="format">
		<div class="container">
			@import "sections/sidebar-slides.htm"
			@import "sections/sidebar-text.htm"
			@import "sections/sidebar-image.htm"
			@import "sections/sidebar-line.htm"
			@import "sections/sidebar-shape.htm"
		</div>
	</sidebar>
</layout>

@import "sections/popups.htm"
