
@slideAnim: 800ms;

.file-slides {
	&[data-background-transition="none"] .slides section {
		transition: none;
	}

	&[data-background-transition="slide"] .slides section {
		&.present { opacity: 1; transform: translate(0, 0); }
		&.past { transform: translate(-150%, 0); }
		&.future { transform: translate(150%, 0); }
	}

	&[data-background-transition="zoom"] .slides section {
		&.present { opacity: 1; transform: translate(0, 0); }
		&.past { transform: scale(16); }
		&.future { transform: scale(0.2); }
	}

	&[data-background-transition="fade"] .slides section {
		&.present { opacity: 1; }
		&.past { }
		&.future { }
	}

	&[data-background-transition="convex"] .slides section {
		&.present { opacity: 1; transform: translate3d(0, 0, 0); transition-duration: @slideAnim * 1.5; }
		&.past { transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0); transition-duration: @slideAnim * 1.5; }
		&.future { transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0); transition-duration: @slideAnim * 1.5; }
	}

	&[data-background-transition="concave"] .slides section {
		&.present { opacity: 1; transform: translate3d(0, 0, 0); transition-duration: @slideAnim * 1.5; }
		&.past { transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0); transition-duration: @slideAnim * 1.5; }
		&.future { transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0); transition-duration: @slideAnim * 1.5; }
	}

	&.show-controls .player-helpers .progress { display: block; }
	&.show-progress .player-helpers aside.controls { display: block; }
	
	.slides {
	    position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		margin: auto;
		text-align: center;
		perspective: 400px;
		background: linear-gradient(180deg, #ffe6ba, #e89d52);
		color: #fff;
		font-family: "Source Sans Pro", sans-serif;
		line-height: 1.35;
		border-radius: 4px;
		box-shadow: 0 0 3px rgba(#000,.1),
					0 1px 7px rgba(#000,.2);

		.player-helpers {
			display: block;
		}
	}

	section {
		position: absolute;
		// top: 0;
		// left: 0;
		// height: 100%;
		width: 100%;
		padding: 21px 0;
		min-height: 0;
		opacity: 0;
		transform-style: preserve-3d;
		transition: transform-origin @slideAnim cubic-bezier(0.26, 0.86, 0.44, 0.985),
					transform @slideAnim cubic-bezier(0.26, 0.86, 0.44, 0.985),
					visibility @slideAnim cubic-bezier(0.26, 0.86, 0.44, 0.985),
					opacity @slideAnim cubic-bezier(0.26, 0.86, 0.44, 0.985);

		// &.present {
		// 	transform: translate(0, 0);
		// 	opacity: 1;
		// }

		// &.past {
		// 	transform: translate(-150%, 0);
		// }

		// &.future {
		// 	transform: translate(150%, 0);
		// }

		> div {
			position: relative;
			padding: 3px 0;
			margin: 5px 0;
			// box-shadow: 0 0 0 1px rgba(#000,.1);
		}

		h1 {
			font-size: 60px;
			font-weight: 600;
			line-height: 1;
			word-wrap: break-word;
			margin: 0;
			text-transform: uppercase;
			// text-shadow: 0 2px 5px rgba(#000,.2);
		}

		p {
			font-size: 25px;
		}

		a {
			text-decoration: none;
			color: #369;
		}

		hr {
			background: #fff;
			margin: 11px auto;
			height: 3px;
		}

		.op-image {
			position: absolute;
		}
	}
}
