
// for dark theme
@import "theme-dark";
@import "blank-view";

@import "popups";
@import "sidebar-thumbs";
@import "sidebar-format";


// auto applies to ".win-body_"
overflow: initial;


@sidebar_bg: #ececec;
@layout_outline: #bbb;
@outline_color: #bbb;
@table_border: #a6a6a6;
@sidebar_speed: 280ms;


&.win-body-focused_ {
	content {
		.head {
			border-bottom-color: @layout_outline;
		}

		.foot {
			.selection-type {
				border-right-color: @layout_outline;
			}
		}
	}

	sidebar.format {
		&:after {
			border-color: @layout_outline;
		}

		.sidebar-head {
			border-bottom-color: @layout_outline;

			span {
				&:not(:first-child) {
					border-left-color: @layout_outline;
				}

				&.active {
					background: #489bf7;
					color: #fff;

					&:after {
						display: block;
					}
				}
			}
		}
	}
}


layout {
	// background: #fff;
	color: #333;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	flex-flow: wrap;
	border-radius: inherit;

	&.show-blank-view {
		.blank-view { display: block; }
		content { display: none; }
	}

	&.show-sidebar-thumbs {
		content {
			padding-left: 173px;
		}

		sidebar.thumbs {
			left: 0;

			&:after { border-color: lighten(@layout_outline, 9%); }
		}
	}

	&.show-sidebar-format {
		content {
			padding-right: 250px;
		}

		sidebar.format {
			right: 0;

			&:after { border-color: lighten(@layout_outline, 9%); }
		}
	}

	&.cover:before {
		// background: rgba(255,0,0,.1);
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 109;
	}

	&.hideMouse:before {
		cursor: none;
	}
}

content {
	background: transparent;
	position: relative;
	width: 100%;
	height: 100%;
	flex: auto;
	display: flex;
	flex-direction: column;
	padding-right: 0;
	transition: padding-right @sidebar_speed * 0.75;

	.body {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.active-slide {
		position: absolute;
		top: 23%;
		left: 3%;
		width: 94%;
		height: 54%;
		background: #f8f8f8;
		border-radius: 4px;
		box-shadow: 0 0 3px rgba(#000,.1),
					0 1px 7px rgba(#000,.2);
		// border: 1px solid rgba(#000,.125);
	}
}

