
.overview {
	// background: rgba(#f00,.1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	perspective-origin: 50% 50%;
	perspective: 700px;
	--width: 120px;
	--height: 80px;
	--mT: 7px;
	--mR: 21px;
	--mB: 7px;
	--mL: 11px;
	--tX: 0;
	--tY: 0;

	> .container {
		// background: rgba(#f00,.1);
		position: absolute;
		top: 0;
		left: 0;
		width: calc( calc( var(--width) + var(--mL) ) + var(--mR) );
		height: calc( calc( var(--height) + var(--mT) ) + var(--mB) );
		border-radius: 9px;
		// transform: translate(0, 0); // default
		transform: translate(10px, 180px);
	}

	ul {
		li > ul {
			white-space: normal;
			margin: calc( var(--mT) * -1 ) 0 0 calc( var(--mR) * -1 );
			transform: translateY( calc( calc( calc( var(--height) + var(--mT) ) + var(--mB) ) * var(--tY) ) );

			li > ul {
				white-space: nowrap;
				transform: translateX( calc( calc( calc( var(--width) + var(--mL) ) + var(--mR) ) * var(--tX) ) );
			}
		}
	}

	ul {
		position: relative;
		font-size: 0;
		white-space: nowrap;
		counter-reset: slides-counter;

		&:hover > li.stack:after,
		&:hover > li:not(.stack):after {
			opacity: .75;
		}

		li {
			position: relative;
			display: inline-block;
			width: var( --width );
			height: var( --height );
			margin: var(--mT) var(--mL) var(--mB) var(--mR);
			background: #e0e0e0;
			border-radius: 6px;
			vertical-align: bottom;
			counter-increment: slides-counter;

			&:after {
				content: counter(slides-counter);
				position: absolute;
				bottom: 1px;
				left: -23px;
				width: 19px;
				text-align: right;
				font-size: 12px;
				opacity: 0;
			}

			&:not(.stack, .active):hover {
				&:before {
					content: "";
					background: rgba(#000,.025);
					border-radius: 9px;
					position: absolute;
					top: -5px;
					bottom: -5px;
					right: -5px;
					left: -25px;
					z-index: -1;
				}
			}

			&.stack {
				background: transparent;

				&:after {
					opacity: 0;
				}
			}

			&.active {
				box-shadow: 0 1px 3px rgba(#000,.25);

				&:before {
					content: "";
					background: #489bf7;
					border-radius: 9px;
					position: absolute;
					top: -5px;
					bottom: -5px;
					right: -5px;
					left: -25px;
					z-index: -1;
				}

				&:after {
					color: #fff;
					text-shadow: 0 1px 0 rgba(#000,.15);
				}
			}
		}
	}
}
