
.overview {
	// background: rgba(#f00,.1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	perspective-origin: 50% 50%;
	perspective: 700px;
	--width: 120px;
	--height: 80px;

	> .container {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(10px, 180px);
	}

	ul {
		li > ul {
			width: 100%;
			margin: -7px 0 0 -21px;
			white-space: normal;

			li > ul {
				white-space: nowrap;
				transform: translateX(-304px);
			}
		}
	}

	ul {
		position: relative;
		font-size: 0;
		white-space: nowrap;
		counter-reset: slides-counter;

		li {
			position: relative;
			display: inline-block;
			width: var( --width );
			height: var( --height );
			background: #e0e0e0;
			border-radius: 6px;
			margin: 7px 11px 7px 21px;
			vertical-align: bottom;
			counter-increment: slides-counter;

			&:not(.stack):after {
				content: counter(slides-counter);
				position: absolute;
				bottom: 1px;
				left: -23px;
				width: 19px;
				text-align: right;
				font-size: 12px;
				opacity: .75;
			}

			&:not(.stack):hover {
				&:before {
					content: "";
					background: rgba(#fff,.75);
					border-radius: 9px;
					position: absolute;
					top: -5px;
					bottom: -5px;
					right: -5px;
					left: -25px;
					z-index: -1;
				}
			}

			&.stack {
				background: transparent;
			}

			&.active {
				box-shadow: 0 1px 3px rgba(#000,.25);

				&:before {
					content: "";
					background: #489bf7;
					border-radius: 9px;
					position: absolute;
					top: -5px;
					bottom: -5px;
					right: -5px;
					left: -25px;
					z-index: -1;
				}

				&:after {
					color: #fff;
					text-shadow: 0 1px 0 rgba(#000,.15);
				}
			}
		}
	}
}
