
.overview {
	// background: rgba(#f00,.1);
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	perspective-origin: 50% 50%;
	perspective: 700px;
	--width: 120px;
	--height: 80px;
	--mT: 7px;
	--mR: 21px;
	--mB: 7px;
	--mL: 11px;
	--tX: 0;
	--tY: 0;

	.tool-add {
		// background: rgba(#f00,.1);
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		width: var(--width);
		height: var(--height);
		border-radius: 9px;
		z-index: 99;

		&[data-options*="n"] div.add-north,
		&[data-options*="w"] div.add-west,
		&[data-options*="s"] div.add-south,
		&[data-options*="e"] div.add-east { display: block; }

		> div {
			// background: rgba(#00f,.1);
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
			pointer-events: all;
			border-radius: inherit;
			border: 3px dashed #ddd;

			&:after {
				content: "";
				background: url(~/icons/icon-add.png) 50% 50%/contain no-repeat;
				position: absolute;
				top: 25px;
				left: 45px;
				width: 26px;
				height: 26px;
				opacity: .15;
			}

			&.add-north {
				transform: translateY( calc( -100% - 13px ) );
			}

			&.add-west {
				transform: translateX( calc( 100% + 32px ) );
			}

			&.add-south {
				transform: translateY( calc( 100% + 13px ) );
			}

			&.add-east {
				transform: translateX( calc( -100% - 32px ) );
			}
		}
	}

	> .container {
		// background: rgba(#f00,.15);
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 9px;
		transform: translate(0, 0); // default

		> ul:nth-child(1) > li:nth-child(1) {
			background-image: url(/app/ant/opus-spawn/cache/test.png);
			background-size: 115% auto;
			background-position-x: -15px;
		}

		> ul:nth-child(1) > li {
			&:nth-child(1) { background-color: #f99; }
			&:nth-child(2) { background-color: #9f9; }
			&:nth-child(3) { background-color: #99f; }
			&:nth-child(5) { background-color: #9ff; }
			&:nth-child(6) { background-color: #f9f; }
		}
	}

	ul {
		// background: rgba(#f00,.15);
		position: relative;
		font-size: 0;
		counter-reset: slides-counter;

		&.slides-h {
			width: fit-content;
			white-space: nowrap;
			transform: translateX( calc( calc( calc( var(--width) + var(--mL) ) + var(--mR) ) * var(--tX) ) );
		}

		&.slides-v {
			width: calc( calc( var(--width) + var(--mL) ) + var(--mR) );
			white-space: normal;
			transform: translateY( calc( calc( calc( var(--height) + var(--mT) ) + var(--mB) ) * var(--tY) ) );
		}

		&:hover:not(:has(li:hover)) >  li:after {
			opacity: .75;
		}

		li {
			position: relative;
			display: inline-block;
			width: var( --width );
			height: var( --height );
			margin: var(--mT) var(--mL) var(--mB) var(--mR);
			background: #d4d4d4 50% 50% no-repeat;
			background-image: linear-gradient(180deg, #ffffff33, #00000011);
			background-size: 100% auto;
			border-radius: 6px;
			vertical-align: bottom;
			counter-increment: slides-counter;

			&:after {
				content: counter(slides-counter);
				position: absolute;
				bottom: 1px;
				left: -23px;
				width: 19px;
				text-align: right;
				font-size: 12px;
				opacity: 0;
			}

			&:not(.stack, .active):hover {
				&:before {
					content: "";
					background: rgba(#000,.05);
					border-radius: 9px;
					position: absolute;
					top: -5px;
					bottom: -5px;
					right: -5px;
					left: -25px;
					z-index: -1;
				}
			}

			&.stack {
				background: transparent;
				--tX: 0;

				&:after {
					opacity: 0;
				}

				> ul {
					margin: calc( var(--mT) * -1 ) calc( var(--mL) * -1 ) calc( var(--mB) * -1 ) calc( var(--mR) * -1 );
				}
			}
		}
	}
}
