
.player-helpers {
	// background: rgba(#f00,.15);
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	pointer-events: none;

	.slide-number {
		position: absolute;
		bottom: 5px;
		left: 0;
		right: 0;
		height: 17px;
		text-align: center;
		color: #ffffffaa;
		text-shadow: 0 1px 0 rgba(#000,.2);

		&[data-format="h-slash-v"] {}
		&[data-format="h-dot-v"] {}
		&[data-format="count-total"] {}
		&[data-format="count"] {}
	}

	.progress {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 4px;
		overflow: hidden;
		border-radius: 0 0 4px 4px;
		background: rgba(#000,.2);

		span {
			display: block;
			height: 100%;
			background: rgba(#fff,.5);
			transition: width @slideAnim cubic-bezier(0.26, 0.86, 0.44, 0.985);
		}
	}

	.controls {
		// background: rgba(#fff,.1);
		position: absolute;
		right: 11px;
		bottom: 11px;
		width: 105px;
		height: 105px;
		border-radius: 50%;

		span {
			position: absolute;
			width: 0;
			height: 0;
			opacity: .5;
			cursor: pointer;
			pointer-events: all;
			filter: drop-shadow(0 0 1px rgba(#000,.5));
			border: 12px solid transparent;

			&:hover:not(.disabled_) {
				opacity: 1;
			}

			&.disabled_ {
				opacity: .15;
				cursor: default;
			}
		}

		.nav-left {
			top: 41px;
			left: 0;
			border-right-color: rgba(#fff,.95);
			border-right-width: 22px;
		}

		.nav-right {
			top: 41px;
			left: 73px;
			border-left-color: rgba(#fff,.95);
			border-left-width: 22px;
		}

		.nav-up {
			top: 0;
			left: 41px;
			border-bottom-color: rgba(#fff,.95);
			border-bottom-width: 22px;
		}

		.nav-down {
			top: 73px;
			left: 41px;
			border-top-color: rgba(#fff,.95);
			border-top-width: 22px;
		}
	}
}
