
[data-ui="karaqu-dark"] {
	.win-body_[data-theme="dark"] {
		
	}
}

[data-ui="royale-amber"] {
	.win-body-focused_.win-body_ layout {
		.sidebar-head {
			border-bottom-color: #381804bf;

			span.active {
				background: transparent;
			}
		}
	}

	.win-body_ layout {
		sidebar {
			.sidebar-head {
				background: radial-gradient(ellipse at bottom center, #ffa90052, transparent 50%),
							radial-gradient(ellipse at top center, #c98c3f17, transparent 75%),
							linear-gradient(180deg, #6f6551 0px, #4b3f29 13px, #352916 13px, #1f1200 24px);

				span {
					padding-top: 8px;
					color: #eccbb49e;
					border-right: 1px solid #ffdab812;

					&.active {
						color: #fff1e6;
					}
				}
			}

			.sidebar-body {
				background: radial-gradient(circle at top center, #ab6d4754 0, transparent 90%);

				.styles:after,
				.group-row:not(:last-child):before {
					opacity: .5;
				}
			}
		}

		selectbox > option:before {
			filter: invert(1) brightness(1.35);
		}
	}
}

[data-ui="royale-black"] {
	.win-body-focused_.win-body_ layout {
		.sidebar-head {
			span.active {
				background: transparent;
			}
		}
	}

	.win-body_ layout {
		sidebar {
			.sidebar-head {
				background: radial-gradient(ellipse at bottom center, #38b3ff63, transparent 60%),
							radial-gradient(ellipse at top center, #1f6b8347, transparent 50%),
							linear-gradient(180deg, #53516f 0px, #2c294b 12px, #1e1c44 13px, #141438 24px);

				span {
					padding-top: 8px;
					color: #b4b7ec9e;
					border-right: 1px solid #d1c9ff12;

					&.active {
						color: #e6f4ff;
					}
				}
			}

			.sidebar-body {
				background: radial-gradient(circle at top center, #5961ac55 0, transparent 90%);

				.styles:after,
				.group-row:not(:last-child):before {
					opacity: .25;
				}
			}
		}

		selectbox > option:before {
			filter: invert(1) brightness(1.35);
		}
	}
}

[data-ui="royale-emerald"] {
	.win-body-focused_.win-body_ layout {
		.sidebar-head {
			border-bottom-color: #1c4a1e;

			span.active {
				background: transparent;
			}
		}
	}

	.win-body_ layout {
		sidebar {
			.sidebar-head {
				background: radial-gradient(ellipse at bottom center, #07ff0044, transparent 65%),
							radial-gradient(ellipse at top center, #9bffb010, transparent 45%),
							linear-gradient(180deg, #668565 0px, #39543d 12px, #1a401b 13px, #152f1a 24px);

				span {
					padding-top: 8px;
					color: #b4ecba9e;
					border-right: 1px solid #c9ffd512;

					&.active {
						color: #e6ffe7;
					}
				}
			}

			.sidebar-body {
				background: radial-gradient(circle at top center, #5dac5944 0, transparent 90%);

				.styles:after,
				.group-row:not(:last-child):before {
					opacity: .25;
				}
			}
		}

		selectbox > option:before {
			filter: invert(1) brightness(1.35);
		}
	}
}

[data-ui="royale-pink"] {
	.win-body-focused_.win-body_ layout {
		.sidebar-head span.active {
			background: transparent;
		}
	}

	.win-body_ layout {
		sidebar {
			.sidebar-head {
				background: radial-gradient(ellipse at bottom center, #ffdaffcc,transparent 70%),
							linear-gradient(180deg, #f7c8ff 0px, #f9a1ff 12px, #e381f9 13px, #f25dff 24px);

				span {
					padding-top: 8px;
					color: #fdf4ffe6;
					border-right: 1px solid #ffc9f275;

					&.active {
						color: #fff;
					}
				}
			}

			.sidebar-body {
				background: radial-gradient(circle at top center, #fdccff85 0, transparent 90%);

				.styles:after,
				.group-row:not(:last-child):before {
					opacity: .25;
				}
			}
		}
	}
}

[data-ui="royale-purple"] {
	.win-body-focused_.win-body_ layout {
		.sidebar-head {
			border-bottom-color: #530e61bf;

			span.active {
				background: transparent;
			}
		}
	}

	.win-body_ layout {
		sidebar {
			.sidebar-head {
				background: radial-gradient(ellipse at bottom center, #ff58e17d, transparent 70%),
							radial-gradient(ellipse at top center, #f697ff59, transparent 75%),
							linear-gradient(180deg, #73567b 0px, #534259 12px, #2b1c33 13px, #2f1c3b 24px);

				span {
					padding-top: 8px;
					color: #e1b4ec9e;
					border-right: 1px solid #f6b8ff12;

					&.active {
						color: #ecc9ff;
					}
				}
			}

			.container { // thumbs sidebar
				background: radial-gradient(circle at top center, #89509988 0, transparent 90%);
			}

			.sidebar-body {
				background: radial-gradient(circle at top center, #895099bb 0, transparent 90%);

				.styles:after,
				.group-row:not(:last-child):before {
					opacity: .25;
				}
			}
		}
	}
}

